main {
    font-family: 'Sen', sans-serif;
  }
  
  div {
   display: flex;
  }
  
  img {
    width: 200px;
  }
  
  section {
    width: 300px;
    text-aligment: center;
  }
  
  a {
    cursor: pointer;
    display: block;
  }